<angular-popper
    [show]="dropped"
    target=".dropdown">
    <div class='dropdown'
        (click)="toggleDrop()"
        (clickOutside)="closeDrop()">
        <div>
            {{this.chosen}}
        </div>
        <fa name='plus' class="icon {{this.dropped ? 'close' : ''}}"></fa>
    </div>
    <div content class='options'>
        <div *ngFor="let option of options"
            [attr.data-value]="option"
            (click)="selectOption($event)"
            class='option'>
            {{option}}
            <fa *ngIf="isChosen(option)" name="check" class='icon--green'></fa>
        </div>
    </div>
</angular-popper>