$gray: #DEDEDE;
$blue: #96c8da;
$red: #9f3a38;
$green: #00b5ad;

.dropdown{
    font-family: 'Rubik', 'sans-serif';
    border: 1px solid $gray;
    padding: 10px;
    min-width:200px;
    max-width:300px;
    cursor: pointer;
    display:flex;
    justify-content: space-between;
}
.center{
    display:flex;
    justify-content: center;
    align-items: center;
}
.icon{
    color:#96c8da;
    transition-property: color rotate;
    transition-timing-function: ease-in-out;
    transition-duration: 250ms;
    transform-origin: center center;
}

.close{
    transform: rotate(225deg);
    color: $red;
}

.icon--red{
    color: $red;
}
.pointer{
    cursor: pointer;
}

.icon--green{
    color: $green;
}

.option{
    height:1.25rem;
    padding:8px 10px;
    white-space: nowrap;
    cursor: pointer;
    text-align: left;
    display: flex;
    justify-content: space-between;

    &:not(:first-child){
        border-top:1px solid #fafafa;
    }

    &:hover{
        background-color: $blue;
        color: white
    }
}
.choices{
    display:flex;
    flex-wrap: wrap;
}
.option--chosen{
    font-size:0.7rem;
    color: white;
    background-color:$blue;
    margin: 2px;
    padding: 4px 2px;
    border-radius:3px;
}
.filter-input{
    padding:5px;
    width:auto;
    margin-top:2px;
    border-top:0px;
    border-left:0px;
    border-right:0px;
    border-bottom-color: $gray;
    border-style: solid;
    padding-left:10px;
    font-weight: 700;
    font-size: 0.75rem;

    &:focus{
        border-bottom-color:$blue;
        outline:none;
    }
}

.multiselect-actions{
    display:flex;
    justify-content: space-evenly;
    padding: 2px 0px;
}