<angular-popper
    [show]="dropped"
    target=".dropdown">
    <div class='dropdown'
        (click)="toggleDrop(); filterInput.value=''">
        <div>
            {{this.chosen}}
        </div>
        <fa name='plus' class="icon {{this.dropped ? 'close' : ''}}"></fa>
    </div>
    <div class='content' content (clickOutside)="checkCloseDrop($event); filterInput.value = ''">
    <input #filterInput type='text' (keyup)="filterOptions($event)" placeholder="Filter.." class='filter-input'/>
        <fa name="filter" class="icon--red pointer" (click)="clearFilter(); filterInput.value=''"></fa>
        <div class='options'>
            <div *ngFor="let option of filteredOptions"
                [attr.data-value]="option"
                (click)="selectOption($event)"
                class='option'>
                {{option}}
                <fa *ngIf="isChosen(option)" name="check" class='icon--green'></fa>
            </div>
        </div>
    </div>
</angular-popper>