/* You can add global styles to this file, and also import other style files */
body::-webkit-scrollbar-button{
    display:none;
}

.angular-popper{
    background-color:#fff !important;
    border-radius:0px !important;
    padding: 0 !important;
    min-width:220px !important;
    max-height:20rem !important;
    overflow-y: scroll;
    &::-webkit-scrollbar{
        background-color:#DEDEDE;
        width:0.5rem;

    }
    &::-webkit-scrollbar-track-piece{

        background-color:#DEDEDE;
    }
    &::-webkit-scrollbar-button{
        display:none;
    }
    &::-webkit-scrollbar-thumb{
        background-color: darken($color: #DEDEDE, $amount: 10%);
        &:hover{
            background-color:#96c8da;
        }
    }

}

.angular-popper__arrow{
    border-width:0px !important;
}